<div class="login-container">
  <div class="login-box">
    <div class="left">
      <h2>Pet Health Tracker</h2>
      <form>
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="you@example.com" />
        </div>
        <div class="input-group">
          <label for="password">Şifre</label>
          <input type="password" id="password" placeholder="********" />
        </div>
      <button type="submit" (click)="onLogin()">Giriş Yap</button>

      </form>
    </div>
    <div class="right">
      <img src="dog1.jpg" alt="Pet" />
    </div>
  </div>
</div>
